<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>S캐시충전</title>
</head>
<body>
<body>
<form name="payForm" accept-charset="UTF-8">

    <input type="hidden" name="CASH_GB" id="CASH_GB" size="2" value="{{ CASH_GB }}">
    <input type="hidden" name="PAY_MODE" id="PAY_MODE" size="2" value="{{ PAY_MODE }}">
    <input type="hidden" name="Prdtprice" id="Prdtprice" size="10" value="{{ Prdtprice }}">
    <input type="hidden" name="Tradeid" id="Tradeid" size="40" value="{{ Tradeid }}">
    <input type="hidden" name="Prdtnm" id="Prdtnm" size="50" value="{{ Prdtnm }}">
    <input type="hidden" name="Siteurl" id="Siteurl" size="40" value="{{ Siteurl }}">
    <input type="hidden" name="Notiurl" id="Notiurl" value="{{ Notiurl }}">
    <input type="hidden" name="Okurl" id="Okurl" value="{{ Okurl }}">
    <input type="hidden" name="Failurl" id="Failurl" value="{{ Failurl }}">
    <input type="hidden" name="CALL_TYPE" id="CALL_TYPE" value="{{ CALL_TYPE }}">
    <input type="hidden" name="MSTR" id="MSTR" value="{{ MSTR }}">
    <input type="hidden" name="Userid" id="Userid" value="{{ Userid }}">
    <input type="hidden" name="CN_Install" id="CN_Install" size="30" value="{{ CN_Install }}">
    <input type="hidden" name="Payeremail" id="Payeremail" size="30" value="{{ Payeremail }}">
    <input type="hidden" name="Cryptyn" id="Cryptyn" size="1" value="{{ Cryptyn }}">
    <input type="hidden" name="Cryptstring" id="Cryptstring" value="{{ Cryptstring }}">
    <input type="hidden" name="Closeurl" id="Closeurl" value="{{ Closeurl }}">
    <input type="hidden" name="billType" id="billType" value="{{ billType }}">
    <input type="hidden" name="tax" id="tax" value="{{ tax }}">
    <input type="hidden" name="taxFree" id="taxFree" value="{{ taxFree }}">
    <input type="hidden" name="IFRAME_NAME" id="IFRAME_NAME" value="web_iframe">
    <input type="hidden" name="Username" id="Username" value="{{ Username }}">

    <input type="hidden" name="LOGO_YN" id="LOGO_YN" size="1" value="{{ LOGO_YN }}">
    <input type="hidden" name="Notiemail" id="Notiemail" size="30" value="{{ Notiemail}}">
    <input type="hidden" name="Prdtcd" id="Prdtcd" size="40" value="{{ Prdtcd }}">
    <input type="hidden" name="Item" id="Item" size="8" value="{{ Item }}">
    <input type="hidden" name="EMAIL_HIDDEN" id="EMAIL_HIDDEN" size="1" value="{{ EMAIL_HIDDEN }}">

    <input type="hidden" name="INFOAREA_YN" id="INFOAREA_YN" size="30" value="{{ INFOAREA_YN}}">
    <input type="hidden" name="FOOTER_YN" id="FOOTER_YN" size="30" value="{{ FOOTER_YN}}">
    <input type="hidden" name="HEIGHT" id="HEIGHT" size="30" value="{{ HEIGHT}}">
    <input type="hidden" name="PRDT_HIDDEN" id="PRDT_HIDDEN" size="30" value="{{ PRDT_HIDDEN}}">
    <input type="hidden" name="CONTRACT_HIDDEN" id="CONTRACT_HIDDEN" size="30" value="{{ CONTRACT_HIDDEN }}">

    <input type="hidden" name="CN_SVCID" id="CN_SVCID" size="12" value="{{ CN_SVCID }}">
    <input type="hidden" name="VER" id="VER" size="10" value="ALL_NEW">
    <input type="hidden" name="CN_BILLTYPE" id="CN_BILLTYPE" value="">
    <input type="hidden" name="CN_TAXFREE" id="CN_TAXFREE" value="">
    <input type="hidden" name="CN_FREEINTEREST" id="CN_FREEINTEREST" value="">
    <input type="hidden" name="CN_POINT" id="CN_POINT" value="">
    <input type="hidden" name="Termregno" id="Termregno" value="">
    <input type="hidden" name="APP_SCHEME" id="APP_SCHEME" value="">
    <input type="hidden" name="CN_FIXCARDCD" id="CN_FIXCARDCD" value="">
    <input type="hidden" name="CN_DIRECT" id="CN_DIRECT" value="">
    <input type="hidden" name="CN_INSTALL" id="CN_INSTALL" value="">

    <input type="hidden" name="TC_SVCID" id="TC_SVCID" size="12" value="{{ TC_SVCID }}">


    <input type="hidden" name="VA_SVCID" id="VA_SVCID" size="30" value="{{ VA_SVCID }}">
    <input type="hidden" name="VA_Rcptlimitdt" id="VA_Rcptlimitdt" size="8" value="{{ VA_Rcptlimitdt}}">
    <input type="hidden" name="VA_Acctlimitdt" id="VA_Acctlimitdt" size="8" value="{{ VA_Acctlimitdt}}">


    <input type="hidden" name="MC_SVCID" id="MC_SVCID" size="30" value="{{ MC_SVCID }}">
    <input type="hidden" name="MC_AUTHPAY" id="MC_AUTHPAY" size="30" value="{{ MC_AUTHPAY}}">
    <input type="hidden" name="MC_AUTOPAY" id="MC_AUTOPAY" size="30" value="{{ MC_AUTOPAY}}">
    <input type="hidden" name="MC_PARTPAY" id="MC_PARTPAY" size="30" value="{{ MC_PARTPAY}}">
    <input type="hidden" name="MC_No" id="MC_No" size="30" value="{{ MC_No}}">
    <input type="hidden" name="MC_FIXNO" id="MC_FIXNO" size="30" value="{{ MC_FIXNO}}">
    <input type="hidden" name="MC_Cpcode" id="MC_Cpcode" size="30" value="{{ MC_Cpcode}}">
    <input type="hidden" name="MC_DEFAULTCOMMID" id="MC_DEFAULTCOMMID" size="30" value="{{ MC_DEFAULTCOMMID}}">
    <input type="hidden" name="MC_FIXCOMMID" id="MC_FIXCOMMID" size="30" value="{{ MC_FIXCOMMID}}">
    <input type="hidden" name="Sellernm" id="Sellernm" size="30" value="{{ Sellernm}}">
    <input type="hidden" name="Sellertel" id="Sellertel" size="30" value="{{ Sellertel}}">
    <input type="hidden" name="MC_EZ_YN" id="MC_EZ_YN" size="30" value="{{ MC_EZ_YN}}">
    <input type="hidden" name="MC_EZ_KEY" id="MC_EZ_KEY" size="20" value="{{ MC_EZ_KEY}}">
    <input type="hidden" name="MC_PUSH_KEY" id="MC_PUSH_KEY" size="50" value="">

    <input type="hidden" name="RA_SVCID" id="RA_SVCID" size="30" value="{{ RA_SVCID}}">
    <input type="hidden" name="GM_SVCID" id="GM_SVCID" size="30" value="{{ GM_SVCID }}">
    <input type="hidden" name="GC_SVCID" id="GC_SVCID" size="30" value="{{ GC_SVCID }}">
    <input type="hidden" name="GG_SVCID" id="GG_SVCID" size="30" value="{{ GG_SVCID }}">
    <input type="hidden" name="HM_SVCID" id="HM_SVCID" size="30" value="{{ HM_SVCID }}">
    <input type="hidden" name="FC_SVCID" id="FC_SVCID" size="30" value="{{ FC_SVCID }}">

    <input type="hidden" name="TM_SVCID" id="TM_SVCID" size="12" value="{{ TM_SVCID }}">
    <input type="hidden" name="TM_CASHBEE_YN" id="TM_CASHBEE_YN" size="1" value="{{ TM_CASHBEE_YN }}">
    <input type="hidden" name="TM_NFC_YN" id="TM_NFC_YN" size="1" value="{{ TM_NFC_YN }}">



</form>
<script src="https://mup.mobilians.co.kr/js/ext/ext_inc_comm.js"></script>
<script type="text/javascript">
  MCASH_PAYMENT(document.payForm);
</script>
</body>
</body>
</html>
